.main{
    /* border: 1px solid blue ; */
    display: flex;
    justify-content: center;
}

.main-div{
    margin-top: 13vw;
    width: 89%;
    display: flex;
    justify-content: center;
    /* border: 1px solid red ; */
    gap: 1rem;
}

.main-left{
    width: 65%;
}



.main-left h1{
    font-size: 6vw;
    /* line-height: 6rem; */
    margin-bottom: 4.2vw;
    font-weight: 400;
}

.main-left p{
    width: 70%;
    font-size: 1.7vw;
    font-weight: 300;
    
}
.main-right{
    width: 35%;
    /* border: 1px solid purple; */
    
}
.main-gif{
  width: 95%;
  height: auto;
}

