.nav-bar{
    margin: 0;
    padding: 1.6vw;
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow:0 4px 16px rgba(0, 0, 0, 0.2);
    position: fixed ;
    top: 0;
}

.navbar-left{
    z-index: 100;
    background-color: transparent;
    /* border: 1px solid blue; */
    box-sizing: border-box;
    gap:5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#nav-logo{
    background-color: transparent;

    width: 2.7vw;
    height: 2.7vw;
}

.logo-name{
    background-color: transparent;

    font-size: 1.5vw;
    font-weight: 100;
}

.navbar-right{
    /* width: 100%; */
    /* border:2px solid blue; */
    /* margin: 0 10px 0 10px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.list{
    padding-right: 8vw;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap:8vw;
    font-size: 1.3vw;
}
.theme-button{
    color: black;
    box-sizing: border-box;
    padding: 14px 50px 14px 50px ;
    border-radius: 10px;
    background-color: #25f2d0;
    box-shadow: 0 0 10px rgba(37, 242, 208, 0.75); /* Equal glow on all sides */
    cursor:pointer;

}

.menu-button-div{
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    background-color: transparent;
}


svg{
    
    background-color: transparent;
}



/* -------------------Menu Styling --------------------------------- */


.menu{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #2b2b2b;
    width: 100%;
    height: 100vh;
}

.menu-left{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

}
.menu-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:8vw;
    font-size: 2.5vw;
    background-color: transparent;

}
li{
    background-color: transparent;

}

.menu-right{
    width: 60%;
    display: flex;
    justify-content: center;
    background-color: transparent;

   

}


/* src/index.css */
@keyframes slide-down {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slide-up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

.animate-slide-down {
    animation: slide-down 0.3s ease-out forwards;
}

.animate-slide-up {
    animation: slide-up 0.3s ease-out forwards;
}




