.footer{
    padding: 2vw 0;
    width:100%;
    border-top:0.5px solid #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.1vw;
    font-weight: 200;
    font-family: OpenSans;
}

.top-container{
    
    padding: 4vw 0;
    width: 72vw;
    border-bottom: 0.5px solid #e5e7eb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#para{
    /* border: 1px solid purple; */
    font-family: OpenSans;
    width: 25%;
    line-height: 2.1vw;
}

.nav-items{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    cursor: pointer;
    margin: 0 2vh;
}
.nav-items li {
    font-family: OpenSans;
    font-size: 1.1vw;
}
.nav-items :hover{
    transform: scale(1.1);
}

#right-para{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 60%;

}

#right-para p {
    font-size: 1.1vw;
    font-family: OpenSans;
}

#right-para span{
    color: #25f2d0;
    cursor: pointer;
}

#right-para span:hover{
    color: #03ceac;
}

.bottom-container{
    font-family: OpenSans;
    padding: 2vw 0;
    width: 72vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.social-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
}

.social-icons img{
    width: 2vw;
}